<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="assets/cv.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
</HEAD>
<BODY>
  <DIV class='content'>
    <% records_by_category.each do |category, records| %>
      <p class="project_category"><%= category %></p>
      <ul>
      <% records.each do |record| %>
        <li class="project_title">
          <span class="year"><%= record[4].nil? ? "" : record[4][4..-1] %></span>
          <a href="<%=record[1]%>"><%= record[0] %></a>
          <span class="authors"><%= record[2] %></span>
        </li>
      <% end %>
      </ul>
    <% end %>
    </ul>
  </DIV>
</BODY>
</HTML>
