<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="assets/cv.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
</HEAD>
<BODY>
  <DIV class='content'>
    <% records_by_category.each do |category, records| %>
      <p class="project_category"><%= category %></p>
      <table>
      <% records.each do |record| %>
        <tr class="project_title">
	<th class="year"><span><%= record[4].nil? ? "" : record[4] %></span></th>
	  <th class="project">
            <a href="<%=record[1]%>"><%= record[0] %></a>
	    <span class="authors"><%= record[2] %></span>
	  </th>
        </tr>
      <% end %>
      </table>
    <% end %>
    </ul>
  </DIV>
</BODY>
</HTML>
